* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e4f9f5;
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
  font-weight: 200;
  color: #0a9396;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #94d2bd;
}

.navbar .brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .menu {
  display: flex;
}

h1,
h3 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding: 100px 20px 50px;
  text-align: center;
  margin-top: 100px;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}

.left-cloud {
  animation: float 3s infinite ease-in-out;
  position: absolute;
  top: 120px;
  left: 100px;
}

.sun {
  animation: shake 4s ease-in-out infinite;
  position: absolute;
  top: 30px;
  right: 150px;
}

.text-contain {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  margin-top: 50px;
  padding: 10px 20px;
  text-align: center;
  color: #0a9396;
}

#profile {
  text-align: center;
  padding: 20px;
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}

#skills h2 {
  text-align: center;
}

#skills li {
  text-align: center;
  list-style-type: disc;
  list-style-position: inside;
  margin: 10px 0;
}

#skills li:hover {
  color: #005f73;
  font-weight: bold;
}

#middle-container {
  margin-top: 30px;
  padding: 20px;
}

#projects-container h2 {
  text-align: center;
}

.project-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontally */
  justify-content: flex-start; /* start from top */
  gap: 10px; /* space between image and title */
  max-width: 300px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.project-image {
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project a:hover .project-image,
.project a:focus .project-image {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  border-radius: 8px;
}

#bottom-container {
  margin-top: 30px;
  text-align: center;
  background-color: aquamarine;
  padding: 20px 0;
}

hr {
  border: none;
  border-top: 4px dotted aquamarine;
  width: 50px;
  margin: 50px auto;
}

footer {
  text-align: center;
}

#bottom-container a {
  background-color: #0a9396;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: "Arial", sans-serif;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#bottom-container a:hover {
  background-color: #005f73;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

#bottom-container a:active {
  background-color: #003845;
  transform: translateY(0);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .left-cloud,
  .sun {
    width: auto;
    max-width: 80px;
  }
  .left-cloud {
    left: 0px;
  }
  .sun {
    right: 50px;
  }

  .left-cloud img,
  .sun img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .text-contain {
    font-size: 2rem;
  }

  .profile {
    max-width: 100%;
  }

  hr {
    width: 30px;
  }
}
